@charset "UTF-8";
.btn, .file-input .file-container button, .file-input .versions .version button, .version-editor .actions button, .btn-group, .version-editor .actions, .select {
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px; }

input, textarea, input[type="checkbox"].boolean + label:before, .select-multiple, .file-input .file-container {
  border-width: 1px;
  border-style: solid;
  border-top-width: 2px; }

.flex-row, .btn-group, .version-editor .actions, .markdown-editor .toolbar, .file-input .meta, .file-input .versions, .flex-column {
  display: inline-table;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: flexbox;
  display: flex;
  width: 100%;
  height: 100%; }

.flex-row, .btn-group, .version-editor .actions, .markdown-editor .toolbar, .file-input .meta, .file-input .versions {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: row;
  box-orient: horizontal;
  box-direction: row;
  -ms-flex-direction: row;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: column;
  box-orient: vertical;
  box-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }

.flex-grow, .btn-group .btn, .version-editor .actions .btn, .btn-group .file-input .file-container button, .file-input .file-container .btn-group button, .btn-group .file-input .versions .version button, .file-input .versions .version .btn-group button, .version-editor .actions .file-input .versions .version button, .file-input .versions .version .version-editor .actions button, .version-editor .actions button {
  display: table-cell;
  -webkit-box-flex: 1 1 0;
  -moz-box-flex: 1 1 0;
  -webkit-flex: 1 1 0;
  -ms-flex: 1 1 0;
  flex: 1 1 0; }

.btn, .file-input .file-container button, .file-input .versions .version button, .version-editor .actions button {
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
  color: #848484;
  background: white;
  border-color: #d3d3d3;
  padding: 0.25em 0.5em;
  position: relative; }
  .btn:hover, .file-input .file-container button:hover, .file-input .versions .version button:hover, .version-editor .actions button:hover {
    background: #f0f0f0; }
  .btn:active, .file-input .file-container button:active, .file-input .versions .version button:active, .version-editor .actions button:active {
    background: #f0f0f0;
    margin-top: 1px;
    border-bottom-width: 1px; }
  .btn:focus, .file-input .file-container button:focus, .file-input .versions .version button:focus, .version-editor .actions button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px rgba(10, 178, 255, 0.5); }

label.btn {
  padding: 0.25em 0.5em; }

.btn-group, .version-editor .actions {
  background: #d3d3d3;
  border-color: #d3d3d3; }
  .btn-group .btn, .version-editor .actions .btn, .btn-group .file-input .file-container button, .file-input .file-container .btn-group button, .btn-group .file-input .versions .version button, .file-input .versions .version .btn-group button, .version-editor .actions .file-input .versions .version button, .file-input .versions .version .version-editor .actions button, .version-editor .actions button {
    padding-left: 0;
    padding-right: 0;
    border: none; }
    .btn-group .btn + input + .btn, .version-editor .actions .btn + input + .btn, .btn-group .file-input .file-container button + input + .btn, .file-input .file-container .btn-group button + input + .btn, .btn-group .file-input .versions .version button + input + .btn, .file-input .versions .version .btn-group button + input + .btn, .version-editor .actions button + input + .btn, .btn-group .file-input .file-container .btn + input + button, .file-input .file-container .btn-group .btn + input + button, .btn-group .file-input .file-container button + input + button, .file-input .file-container .btn-group button + input + button, .btn-group .file-input .versions .version .btn + input + button, .file-input .versions .version .btn-group .btn + input + button, .btn-group .file-input .versions .version button + input + button, .file-input .versions .version .btn-group button + input + button, .version-editor .actions .btn + input + button, .version-editor .actions .file-input .file-container button + input + button, .file-input .file-container .version-editor .actions button + input + button, .version-editor .actions .file-input .versions .version button + input + button, .file-input .versions .version .version-editor .actions button + input + button, .btn-group .version-editor .actions button + input + button, .version-editor .actions .btn-group button + input + button, .version-editor .actions button + input + button, .btn-group .btn + .btn, .version-editor .actions .btn + .btn, .btn-group .file-input .file-container button + .btn, .file-input .file-container .btn-group button + .btn, .version-editor .actions .file-input .file-container button + .btn, .btn-group .file-input .versions .version button + .btn, .file-input .versions .version .btn-group button + .btn, .version-editor .actions .file-input .versions .version button + .btn, .version-editor .actions .btn-group button + .btn, .version-editor .actions button + .btn, .btn-group .file-input .file-container .btn + button, .file-input .file-container .btn-group .btn + button, .version-editor .actions .file-input .file-container .btn + button, .btn-group .file-input .file-container button + button, .file-input .file-container .btn-group button + button, .file-input .versions .version .btn-group .file-container button + button, .file-input .versions .version .version-editor .actions .file-container button + button, .btn-group .file-input .versions .version .btn + button, .file-input .versions .version .btn-group .btn + button, .version-editor .actions .file-input .versions .version .btn + button, .file-input .file-container .btn-group .versions .version button + button, .file-input .file-container .version-editor .actions .versions .version button + button, .btn-group .file-input .versions .version button + button, .file-input .versions .version .btn-group button + button, .version-editor .actions .btn-group .btn + button, .version-editor .actions .btn + button, .version-editor .actions .file-input .file-container button + button, .version-editor .actions .file-input .versions .version button + button, .file-input .versions .version .version-editor .actions button + button, .btn-group .version-editor .actions button + button, .version-editor .actions .btn-group button + button, .version-editor .actions button + button {
      border-left: 1px solid #d3d3d3; }
    .btn-group .btn:active, .version-editor .actions .btn:active, .btn-group .file-input .file-container button:active, .file-input .file-container .btn-group button:active, .btn-group .file-input .versions .version button:active, .file-input .versions .version .btn-group button:active, .version-editor .actions button:active {
      margin-bottom: -1px; }
  .btn-group input:checked + label, .version-editor .actions input:checked + label, .btn-group .btn.selected, .version-editor .actions .btn.selected, .btn-group .file-input .file-container button.selected, .file-input .file-container .btn-group button.selected, .btn-group .file-input .versions .version button.selected, .file-input .versions .version .btn-group button.selected, .version-editor .actions button.selected {
    background: #b2c500;
    color: white;
    text-shadow: 0 0 4px #474c13; }

*:focus {
  outline: none; }

*::-moz-focus-inner,
*::-moz-focus-outer {
  border: 0; }

input, textarea, select {
  font-size: 1em;
  margin-bottom: 0;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #848484; }
  input:-moz-placeholder, textarea:-moz-placeholder, select:-moz-placeholder {
    color: #848484; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #848484; }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder {
    color: #848484; }
  input::placeholder, textarea::placeholder, select::placeholder {
    color: #848484; }

input, textarea {
  background: white;
  border-color: #d3d3d3;
  color: #555;
  padding: 0.25em 0.5em;
  line-height: 1em;
  width: 100%; }

input[type="checkbox"], input[type="radio"] {
  opacity: 0;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: initial;
  right: initial; }

input[type="color"] {
  cursor: pointer;
  height: 2em;
  padding: 0.25em 0.5em; }

input[type="range"] {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent; }
  input[type="range"] .track {
    background: white;
    border-color: #d3d3d3;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-top-width: 2px;
    display: block;
    width: 100%;
    height: 2px; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type="range"] {
      -webkit-appearance: none;
      background: white;
      border-color: #d3d3d3;
      border-radius: 3px;
      border-width: 1px;
      border-style: solid;
      border-top-width: 2px;
      display: block;
      width: 100%;
      height: 2px; } }
  input[type="range"]::-moz-range-track {
    background: white;
    border-color: #d3d3d3;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-top-width: 2px;
    display: block;
    width: 100%;
    height: 2px; }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: white;
    border-color: #d3d3d3;
    border-radius: 50%;
    cursor: grab;
    border-width: 1px;
    border-style: solid;
    border-bottom-width: 2px;
    display: block;
    width: 1em;
    height: 1em; }
    input[type="range"]::-webkit-slider-thumb:active {
      cursor: grabbing; }
  input[type="range"]::-moz-range-thumb {
    background: white;
    border-color: #d3d3d3;
    border-radius: 50%;
    cursor: grab;
    border-width: 1px;
    border-style: solid;
    border-bottom-width: 2px;
    display: block;
    width: 1em;
    height: 1em; }
    input[type="range"]::-moz-range-thumb:active {
      cursor: grabbing; }
  input[type="range"] .thumb {
    background: white;
    border-color: #d3d3d3;
    border-radius: 50%;
    cursor: grab;
    border-width: 1px;
    border-style: solid;
    border-bottom-width: 2px;
    display: block;
    width: 1em;
    height: 1em; }
    input[type="range"] .thumb:active {
      cursor: grabbing; }

textarea {
  min-height: 4em;
  max-height: 10em;
  line-height: 1.2em;
  resize: vertical; }

input[type="checkbox"].boolean + label {
  cursor: pointer;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 0.25em; }
  input[type="checkbox"].boolean + label:before {
    overflow: hidden;
    background: white;
    border-color: #d3d3d3;
    color: white;
    vertical-align: middle;
    margin-right: 0.5em;
    text-indent: -2em;
    font-size: 0.8em;
    line-height: 1.4em;
    margin-top: -0.2em;
    content: "";
    font-family: "FontAwesome";
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    -webkit-transition: background-color 0.2s, border-color 0.2s, text-indent 0.3s;
    -moz-transition: background-color 0.2s, border-color 0.2s, text-indent 0.3s;
    -ms-transition: background-color 0.2s, border-color 0.2s, text-indent 0.3s;
    -o-transition: background-color 0.2s, border-color 0.2s, text-indent 0.3s;
    transition: background-color 0.2s, border-color 0.2s, text-indent 0.3s; }

input[type="checkbox"].boolean:checked + label:before {
  text-indent: 0.2em;
  background: #b2c500;
  border-color: #929e27;
  text-shadow: 0 0 4px #474c13; }

progress {
  margin-top: 0.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    progress::-webkit-progress-bar {
      background: #f0f0f0;
      border: 1px solid #d3d3d3;
      height: 6px;
      border-radius: 3px; } }
@-moz-document url-prefix() {
  progress {
    background: #f0f0f0;
    border: 1px solid #d3d3d3;
    height: 6px;
    border-radius: 3px; } }
  progress::-webkit-progress-value {
    background-color: #0ab2ff; }
  progress::-moz-progress-bar {
    background-color: #0ab2ff; }
  progress::-ms-fill {
    background-color: #0ab2ff; }

.select {
  background: white;
  border-color: #d3d3d3;
  position: relative; }
  .select:active {
    margin-top: 1px;
    border-bottom-width: 1px; }
  .select:after {
    content: "";
    font-family: "FontAwesome";
    margin-top: -0.5em;
    position: absolute;
    top: 50%;
    left: initial;
    bottom: initial;
    right: 1em; }
  .select select {
    width: 100%;
    color: #848484;
    padding: 0.25em 0.5em;
    cursor: pointer;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none; }
@-moz-document url-prefix() {
  .select select {
    color: transparent;
    text-shadow: 0 0 0 #848484; } }
.select-multiple {
  background: white;
  border-color: #d3d3d3;
  position: relative;
  min-height: 28px; }
  .select-multiple select[multiple] {
    display: none; }
  .select-multiple select:not([multiple]) {
    opacity: 0;
    width: 100%;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .select-multiple .values {
    overflow: hidden;
    padding: 0.25em 0 0 0.25em; }
    .select-multiple .values .option {
      padding: 0.3125em 2em 0.1875em 0.25em;
      display: inline-block;
      position: relative;
      float: left;
      background: #f0f0f0;
      border: 1px solid #d3d3d3;
      margin-right: 0.25em;
      margin-bottom: 0.25em; }
      .select-multiple .values .option .label {
        font-weight: normal;
        margin: 0;
        font-size: 1em;
        line-height: 1em; }
      .select-multiple .values .option button {
        background: #d3d3d3;
        color: #848484;
        border: none;
        padding: 0;
        cursor: pointer;
        display: block;
        width: 1.4em;
        height: 1.4em;
        position: absolute;
        top: 0.4em;
        left: initial;
        bottom: initial;
        right: 0.4em; }
        .select-multiple .values .option button > * {
          pointer-events: none; }

.markdown-editor .toolbar {
  background: #f0f0f0;
  border: 1px solid #d3d3d3;
  border-bottom: none;
  padding: 0.25em; }
  .markdown-editor .toolbar .btn-group, .markdown-editor .toolbar .version-editor .actions, .version-editor .markdown-editor .toolbar .actions {
    width: auto;
    height: auto; }
    .markdown-editor .toolbar .btn-group + .btn-group, .markdown-editor .toolbar .version-editor .actions + .btn-group, .version-editor .markdown-editor .toolbar .actions + .btn-group, .markdown-editor .toolbar .version-editor .btn-group + .actions, .version-editor .markdown-editor .toolbar .btn-group + .actions, .markdown-editor .toolbar .version-editor .actions + .actions, .version-editor .markdown-editor .toolbar .actions + .actions {
      margin-left: 0.25em; }
    .markdown-editor .toolbar .btn-group .btn, .markdown-editor .toolbar .version-editor .actions .btn, .version-editor .markdown-editor .toolbar .actions .btn, .markdown-editor .toolbar .btn-group .file-input .file-container button, .file-input .file-container .markdown-editor .toolbar .btn-group button, .markdown-editor .toolbar .btn-group .file-input .versions .version button, .file-input .versions .version .markdown-editor .toolbar .btn-group button, .version-editor .actions .markdown-editor .toolbar .btn-group button, .markdown-editor .toolbar .version-editor .actions button, .version-editor .markdown-editor .toolbar .actions button {
      padding: 0.25em 0.5em; }
.markdown-editor textarea {
  margin: 0; }

.file-input progress {
  width: 100%;
  display: none; }
.file-input input[type="file"] {
  opacity: 0;
  z-index: 3;
  margin: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }
.file-input .file-container {
  background: white;
  border-color: #d3d3d3;
  position: relative;
  height: auto;
  min-height: 100px; }
  .file-input .file-container button {
    z-index: 3;
    position: absolute;
    top: 4px;
    left: initial;
    bottom: initial;
    right: 4px; }
    .file-input .file-container button span {
      display: none; }
    .file-input .file-container button:before {
      content: "";
      font-family: "FontAwesome"; }
  .file-input .file-container label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .file-input .file-container .preview {
    min-height: 100px;
    max-height: 220px;
    overflow: hidden;
    position: relative; }
    .file-input .file-container .preview pre {
      font-size: 0.6em; }
    .file-input .file-container .preview img {
      position: relative;
      z-index: 2;
      margin: 0 auto;
      max-width: 600px;
      max-height: 220px;
      display: block; }
    .file-input .file-container .preview:empty:before {
      content: "";
      font-family: "FontAwesome";
      font-size: 4em;
      color: #d3d3d3;
      position: absolute;
      top: 50%;
      left: 50%;
      bottom: initial;
      right: initial;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .file-input .file-container .preview:empty + button {
      display: none; }
.file-input .meta {
  margin-top: 0.25em; }
  .file-input .meta > * {
    overflow: hidden;
    white-space: nowrap;
    line-height: 1.4em;
    text-overflow: ellipsis;
    display: table-cell;
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; }
    .file-input .meta > *.name:not(:empty):before {
      content: "";
      font-family: "FontAwesome";
      margin-right: 0.25em; }
    .file-input .meta > *.size {
      text-align: right; }
    .file-input .meta > *.dimensions {
      text-align: center; }
.file-input .versions {
  width: auto;
  margin-top: 0.25em;
  margin-left: -0.25em;
  margin-right: -0.25em; }
  .file-input .versions .version {
    position: relative;
    padding: 0.25em;
    display: table-cell;
    -webkit-box-flex: 1 1 33.33%;
    -moz-box-flex: 1 1 33.33%;
    -webkit-flex: 1 1 33.33%;
    -ms-flex: 1 1 33.33%;
    flex: 1 1 33.33%; }
    .file-input .versions .version .version-meta {
      margin-bottom: 0.25em; }
      .file-input .versions .version .version-meta .version-size {
        color: #848484;
        margin-left: 0.25em; }
        .file-input .versions .version .version-meta .version-size:before {
          content: "("; }
        .file-input .versions .version .version-meta .version-size:after {
          content: ")"; }
    .file-input .versions .version canvas {
      margin-top: 0.25em;
      max-width: 100%; }
    .file-input .versions .version button {
      float: right; }
.file-input.loading input[type="file"], .file-input.loading label {
  display: none; }
.file-input.loading progress {
  display: block; }

.version-editor {
  background: white;
  border: 1px solid #d3d3d3;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
  padding: 0.5em;
  text-align: center;
  max-width: 80vw;
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  bottom: initial;
  right: initial;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .version-editor .version-preview {
    position: relative;
    overflow: hidden;
    display: inline-block; }
    .version-editor .version-preview img {
      display: block;
      max-width: 100%;
      max-height: 60vh;
      cursor: crosshair; }
    .version-editor .version-preview .version-box {
      position: absolute;
      border: 1px solid #0ab2ff;
      box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.3); }
      .version-editor .version-preview .version-box:before {
        content: "";
        pointer-events: none;
        border-top: 1px dotted #848484;
        border-bottom: 1px dotted #848484;
        position: absolute;
        top: 33%;
        left: 0;
        bottom: 33%;
        right: 0; }
      .version-editor .version-preview .version-box:after {
        content: "";
        pointer-events: none;
        border-left: 1px dotted #848484;
        border-right: 1px dotted #848484;
        position: absolute;
        top: 0;
        left: 33%;
        bottom: 0;
        right: 33%; }
      .version-editor .version-preview .version-box .drag-box {
        cursor: grab;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0; }
        .version-editor .version-preview .version-box .drag-box:active {
          cursor: grabbing; }
      .version-editor .version-preview .version-box .top-left-handle,
      .version-editor .version-preview .version-box .top-right-handle,
      .version-editor .version-preview .version-box .bottom-right-handle,
      .version-editor .version-preview .version-box .bottom-left-handle {
        background: #0ab2ff;
        display: block;
        width: 4px;
        height: 4px;
        position: absolute;
        top: initial;
        left: initial;
        bottom: initial;
        right: initial; }
        .version-editor .version-preview .version-box .top-left-handle:before,
        .version-editor .version-preview .version-box .top-right-handle:before,
        .version-editor .version-preview .version-box .bottom-right-handle:before,
        .version-editor .version-preview .version-box .bottom-left-handle:before {
          content: "";
          display: block;
          width: 12px;
          height: 12px;
          position: absolute;
          top: -4px;
          left: -4px;
          bottom: initial;
          right: initial; }
      .version-editor .version-preview .version-box .top-left-handle, .version-editor .version-preview .version-box .top-right-handle {
        top: -2px; }
      .version-editor .version-preview .version-box .bottom-left-handle, .version-editor .version-preview .version-box .bottom-right-handle {
        bottom: -2px; }
      .version-editor .version-preview .version-box .top-left-handle, .version-editor .version-preview .version-box .bottom-left-handle {
        left: -2px; }
      .version-editor .version-preview .version-box .top-right-handle, .version-editor .version-preview .version-box .bottom-right-handle {
        right: -2px; }
      .version-editor .version-preview .version-box .top-left-handle, .version-editor .version-preview .version-box .bottom-right-handle {
        cursor: nwse-resize; }
      .version-editor .version-preview .version-box .top-right-handle, .version-editor .version-preview .version-box .bottom-left-handle {
        cursor: nesw-resize; }
  .version-editor .actions {
    margin-top: 0.5em; }

html, body, input, textarea, select {
  font-family: "Lato", "Helvetica", "Helvetica Neue", "Arial"; }

* {
  box-sizing: border-box; }

.text-red {
  color: #eb212e; }

.form-actions {
  font-size: 0.85em;
  padding: 0.5em 0; }

.field {
  position: relative;
  font-size: 0.85em;
  padding: 0.5em 0;
  margin-bottom: 1em; }
  .field.has-success input, .field.has-success textarea, .field.has-success .select, .field.has-success .btn-group, .field.has-success .version-editor .actions, .version-editor .field.has-success .actions, .field.has-success .select-multiple, .field.has-success .markdown-editor .toolbar, .field.has-success.file .file-container {
    border-color: #b2c500; }
  .field.has-success .btn-group, .field.has-success .version-editor .actions, .version-editor .field.has-success .actions {
    background: #b2c500; }
  .field.has-success.file .preview:before, .field.has-success .feedback-icon {
    color: #b2c500; }
  .field.has-success progress::-webkit-progress-value {
    background-color: #b2c500; }
  .field.has-success progress::-moz-progress-bar {
    background-color: #b2c500; }
  .field.has-success progress::-ms-fill {
    background-color: #b2c500; }
  .field.has-error input, .field.has-error textarea, .field.has-error .select, .field.has-error .btn-group, .field.has-error .version-editor .actions, .version-editor .field.has-error .actions, .field.has-error .select-multiple, .field.has-error .markdown-editor .toolbar, .field.has-error.file .file-container {
    border-color: #eb212e; }
  .field.has-error .btn-group, .field.has-error .version-editor .actions, .version-editor .field.has-error .actions {
    background: #eb212e; }
  .field.has-error.file .preview:before, .field.has-error .feedback-icon {
    color: #eb212e; }
  .field.has-error.boolean label:before {
    border-color: #eb212e; }
  .field.has-error progress::-webkit-progress-value {
    background-color: #eb212e; }
  .field.has-error progress::-moz-progress-bar {
    background-color: #eb212e; }
  .field.has-error progress::-ms-fill {
    background-color: #eb212e; }
  .field.has-focus input, .field.has-focus textarea, .field.has-focus .select, .field.has-focus .btn-group, .field.has-focus .version-editor .actions, .version-editor .field.has-focus .actions, .field.has-focus .select-multiple, .field.has-focus .markdown-editor, .field.has-focus .file-container, .field.has-focus.boolean label:before {
    box-shadow: 0 0 0 2px white, 0 0 0 3px rgba(10, 178, 255, 0.5); }
  .field.has-focus.markdown .btn-group, .field.has-focus.markdown .version-editor .actions, .version-editor .field.has-focus.markdown .actions, .field.has-focus.markdown textarea {
    box-shadow: none; }
  .field.has-focus .btn-group input[type="checkbox"]:focus + label:before, .field.has-focus .version-editor .actions input[type="checkbox"]:focus + label:before, .version-editor .field.has-focus .actions input[type="checkbox"]:focus + label:before,
  .field.has-focus .btn-group input[type="radio"]:focus + label:before,
  .field.has-focus .version-editor .actions input[type="radio"]:focus + label:before,
  .version-editor .field.has-focus .actions input[type="radio"]:focus + label:before {
    content: "";
    border: 1px solid #0ab2ff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .field.has-success > label, .field.has-error > label {
    position: relative;
    padding-left: 1.1em; }
    .field.has-success > label .feedback-icon, .field.has-error > label .feedback-icon {
      position: absolute;
      top: 0.15em;
      left: 0;
      bottom: initial;
      right: initial; }
    .field.has-success > label div, .field.has-error > label div {
      display: inline-block;
      margin-left: 0.25em; }
  .field.has-success.boolean label, .field.has-error.boolean label {
    padding-left: 0; }
    .field.has-success.boolean label .feedback-icon, .field.has-error.boolean label .feedback-icon {
      display: none; }
  .field.has-success.markdown .btn-group, .field.has-success.markdown .version-editor .actions, .version-editor .field.has-success.markdown .actions, .field.has-error.markdown .btn-group, .field.has-error.markdown .version-editor .actions, .version-editor .field.has-error.markdown .actions {
    border-color: #d3d3d3;
    background: #d3d3d3; }
  .field p {
    font-size: 0.9em;
    font-style: italic;
    font-weight: 500;
    color: #848484; }
    .field p code {
      font-size: 1.2em; }
  .field label {
    font-weight: normal;
    margin-bottom: 0; }
    .field label em {
      color: #848484; }
    .field label + p {
      margin-top: 3px;
      margin-bottom: 0.25em; }
    .field label + input, .field label + .controls, .field label + .select, .field label + .select-multiple, .field label + textarea, .field label + .btn-group, .field .version-editor label + .actions, .version-editor .field label + .actions, .field label + .markdown-editor {
      margin-top: 0.25em; }
  .field.boolean label + p {
    margin-top: 0.25em;
    margin-bottom: 0; }

/*# sourceMappingURL=index.css.map */
