.btn
  font-size: 1em
  line-height: 1em
  text-align: center
  text-transform: uppercase
  color: $color-grey
  background: white
  border: 1px solid $color-grey-light
  border-bottom-width: 2px
  padding: $button-padding

  &:hover
    background: $color-grey-super-light

  &:active
    background: $color-grey-super-light
    border-bottom-width: 1px
    margin-top: 1px

label.btn
  padding: $label-button-padding

.btn-group
  @extend .flex-row
  background: $color-grey-light
  border: 1px solid $color-grey-light
  border-bottom-width: 2px

  input[type="checkbox"], input[type="radio"]
    display: none

  .btn
    @extend .flex-grow
    padding-left: 0
    padding-right: 0
    border: none

    & + input + .btn, & + .btn
      border-left: 1px solid $color-grey-light

    &:active
      margin-bottom: -1px


  input:checked + label, .btn.selected
    background: $color-green
    color: white
    text-shadow: 0 0 4px $color-dark-green
