.markdown-editor
  .toolbar
    @extend .flex-row
    background: $input-background-alternate-color
    border: 1px solid $input-border-color
    border-bottom: none
    padding: $quarter-padding

    .btn-group
      width: auto
      height: auto

      & + .btn-group
        margin-left: $quarter-padding

      .btn
        padding: $button-padding

  textarea
    margin: 0
