.select
  @extend %outset
  background: $button-background-color
  border-color: $button-border-color
  position: relative

  &:active
    +outset-hover

  &:after
    content: '\f078'
    font-family: $font-icon
    margin-top: -0.5em
    +absolute(50%, initial, initial, 1em)

  select
    width: 100%
    color: $button-text-color
    padding: $input-padding
    cursor: pointer
    border: none
    box-shadow: none
    background-color: transparent
    background-image: none

    +for-gecko
      color: transparent
      text-shadow: 0 0 0 $button-text-color

.select-multiple
  @extend %inset
  background: $input-background-color
  border-color: $input-border-color
  position: relative
  min-height: 28px

  select[multiple]
    display: none

  select:not([multiple])
    opacity: 0
    width: 100%
    cursor: pointer
    +absolute(0,0,0,0)

  .values
    overflow: hidden
    padding: $quarter-padding 0 0 $quarter-padding

    .option
      padding: ($quarter-padding * 1.25) $double-padding ($quarter-padding * 0.75) $quarter-padding
      display: inline-block
      position: relative
      float: left
      background: $input-background-alternate-color
      border: 1px solid $input-border-color
      margin-right: $quarter-padding
      margin-bottom: $quarter-padding

      .label
        font-weight: normal
        margin: 0
        font-size: 1em
        line-height: 1em

      button
        background: $button-border-color
        color: $button-text-color
        border: none
        padding: 0
        cursor: pointer
        +box(1.4em)
        +absolute(0.4em, initial, initial, 0.4em)

        > *
          pointer-events: none
