@import mixins
@import defaults
@import flex
@import buttons
@import inputs
@import select
@import markdown
@import image

html, body, input, textarea, select
  font-family: $font-interface

*
  box-sizing: border-box

.text-red
  color: $color-red

.form-actions
  font-size: 0.85em
  padding: $half-padding

.field
  position: relative
  font-size: 0.85em
  padding: $half-padding
  margin-bottom: $padding

  &.has-success
    input, textarea, .select, .btn-group, .select-multiple, .markdown-editor .toolbar, &.image .image-container
      border-color: $color-green

    .btn-group
      background: $color-green

    &.image .preview:before, .feedback-icon
      color: $color-green

    progress
      +progress-value
        background-color: $color-green

  &.has-error
    input, textarea, .select, .btn-group, .select-multiple, .markdown-editor .toolbar, &.image .image-container
      border-color: $color-red

    .btn-group
      background: $color-red

    &.image .preview:before, .feedback-icon
      color: $color-red

    &.boolean label:before
      border-color: $color-red

    progress
      +progress-value
        background-color: $color-red

  &.has-success, &.has-error
    > label
      position: relative
      padding-left: 1.1em

      .feedback-icon
        +absolute(-0.05em, 0)

      div
        display: inline-block
        margin-left: $quarter-padding

    &.boolean label
      padding-left: 0
      .feedback-icon
        display: none

  p
    font-size: 0.9em
    font-style: italic
    font-weight: 500
    color: $color-grey

    code
      font-size: 1.2em

  label
    font-weight: normal
    margin-bottom: 0

    em
      color: $color-grey

    & + p
      margin-top: 3px
      margin-bottom: $quarter-padding

    & + input, & + .controls, & + .select, & + .select-multiple, & + textarea, & + .btn-group, & + .markdown-editor
      margin-top: $quarter-padding

  &.boolean
    label + p
      margin-top: $quarter-padding
      margin-bottom: 0
